/* Global styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: #121212;
    color: #ffffff;

    overflow-y: auto;          /* allow vertical scrolling */
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    margin-bottom: 30px;
}

body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.dashBoardContainer {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navBarEle {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #1e1e1e;
    padding-right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.logout {
    border-radius: 6px;
    border: none;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    transition: all 0.2s ease;
    margin-right: 5px;
}

.logout:hover {
    background-color: #c0392b;
    transform: scale(1.03);
}

.navBarEle a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.welcomeTxtCont {
    margin-left: 40px;
    margin-top: 20px;
}

.welcomeTxt {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.welcomeName {
    color: #777575;
}

/* Charts container */
#charts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 charts per row */
    gap: 25px;
    margin: 30px;
}

/* Chart wrapper */
.chart-wrapper {
    background-color: #1f1f1f; /* dark card */
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.chart-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.6);
}

.chart-wrapper h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
}

canvas {
    width: 100% !important;
    height: 250px !important;
    border-radius: 8px;
}
