/* Global styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: #ffffff;
    color: #ffffff;

    overflow-y: auto;          /* allow vertical scrolling */
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    margin-bottom: 30px;
}

body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}

.dashBoardContainer {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navBarEle {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #1e1e1e;
    padding-right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.logout {
    border-radius: 6px;
    border: none;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    transition: all 0.2s ease;
    margin-right: 5px;
}

.logout:hover {
    background-color: #c0392b;
    transform: scale(1.03);
}

.navBarEle a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*For add device*/

.addDevice{
    margin-top: 20px;
    width: 100%;
    padding: 0%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deviceAddForm{
    display: flex;
    width: 1050px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    border: #d9d7d7 solid 0.5px;
    background: linear-gradient(to right, #1a1a1a, #2e2e2e, #666666, #cccccc, #ffffff);
    box-shadow: 0px 4px 4px rgba(78, 78, 78, 0.3);
}

.deviceAddForm input,
.deviceAddForm button {
    flex: 1;
    margin: 0 5px; /* Space between items */
    height: 20px;   /* Set consistent height */
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.deviceAddForm button {
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
    flex: 0.3;
    box-shadow: 0px 2px 2px rgba(78, 78, 78, 0.3);
}

.deviceAddForm button:active {
    transform: scale(0.97);
}

/* For table*/

.table{
    margin-top: 20px;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16;
    font-weight: 400;
}

 td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
  }

  .actions{
    white-space: nowrap; 
    width: 1%;              
    text-align: center; 
    
  }

  .actions button{
    color: #f4f4f4;
    border-radius: 4px;
    border-style: none;
    border-color: whitesmoke;
    border : 0%;
    padding: 5px;
    box-shadow: 0px 2px 2px rgba(78, 78, 78, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400; 
  }

.actions .edit{
    background-color: green;
}

.actions .delete{
    background-color:red;
}


  thead th {
  position: sticky;
  top: 0;
  background-color: white; /* or match your table background */
  z-index: 2; /* Ensures it stays above table rows */
}

/*Edit form*/

.heading{
    font-size: 20px;
    padding: 0%;
    margin: 0%;
    color: #f4f4f4;
    margin-bottom: 10px;
}

.editFormEle{
    background-color: rgba(0, 0, 0);
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    width : 200px;
    height : 350px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400;
    border-radius: 10px;
    border-style: none;
}

.editBtns{
    display: flex;
    justify-content: center;
    width: 100%;
    gap : 20px;
    margin-bottom: 10px;
}

.editBtns button{
    width : 50px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 4px;
    border-style: none;
    border-color: whitesmoke;
    border : 0%;
    padding: 5px;
    box-shadow: 0px 2px 2px rgba(78, 78, 78, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 400; 
}


input:focus {
    outline: none; 
}

.editBtn:active {
    transform: scale(0.97);
  }

.ok:active {
    transform: scale(0.97);
}

.cancel:active {
    transform: scale(0.97);
}

.editForm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none; 
  background-color: rgba(0, 0, 0,0.5); 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.userDropdown{
    width : 170px;
    height : 20px;
    text-align: center;
}

select:focus {
    outline: none; 
}