html ,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #1a1a1a, #2e2e2e, #666666, #cccccc, #ffffff);
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    direction : column ;
    justify-content: center;
    align-items: center;
}

.loginImg > img{
    width : 120px !important;;
    height : 120px !important;;
}

.loginCard{
    display: flex;
    flex-direction: column;
    width : 350px;
    height : 400px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.loginCard.signup{
    display: flex;
    flex-direction: column;
    width : 350px;
    height : 500px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.formEle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loginImg>img{
    width: 75px;
    height: 75px;
}

.inputField{
    width: 300px;
    height: 45px;
    border-radius: 4px;
    border: 0.5px solid rgb(208, 206, 206);
    border : 0%;
}

.subBtn{
    width: 307px;
    height: 45px;
    border-radius: 4px;
    border-style: none;
    
    border-color: whitesmoke;
    border : 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    color : rgb(236, 230, 230);
    font-size: 16;
    font-weight: 400;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    background: linear-gradient(to right, #1a1a1a, #2e2e2e, #666666, #cccccc, #ffffff);
}

.subBtn:active {
    transform: scale(0.97);
  }

.forgotSignIn{
    width: 300px;
    height: 90px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    font-weight: 400;
}

.forgotSignIn div p a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    font-weight: 400;
    color: rgb(88, 87, 87) !important;
}

input:focus {
    outline: none; 
  }